/node_modules
/vendor

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/public/storage

.git
.gitignore
.env

*.log
*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db
.vscode
.idea

Dockerfile

!docker/
!docker/start.sh
!docker/nginx.conf
!docker/supervisord.conf
!docker/entrypoint.sh

!vite.config.js
!package.json
!package-lock.json
!resources/
!public/
